<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Generator</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="top-bar">
        <h1>Recipe Generator</h1>
    </header>
    <div class="top-button-container">
        <button class="left-btn">Upload Image</button>
        <button class="centre-btn">Scan Image</button>
    </div>
    <!--You want the buttons on the same horizontal line, so in the same container-->
    <img src="../static/illustrations/chef.png" alt="Chef" class="index-img1">

</body>
</html>
