.top-bar {
    background-color: #8FAD88;
    padding: 50px 20px; /*top-bottom left-right*/
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar h1 {
    color: white;
    margin: 0;
    font-size: 28;
    font-family: Arial, sans-serif;
    text-align: center;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    position: absolute;
    left: 20px;
    height: 120px;
    width: auto
}

.upload-section {
    display: flex;
    justify-content: center;
    position: relative;
    border: none;
    padding: 15px;
}

.centre-btn:hover {
    background-color: #5b8051;
}

.left-btn:hover {
    background-color: #5b8051;
}

.centre-btn {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 50px;
    background-color:#8FAD88;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.left-btn {
    position: absolute;
    top: 50px;
    left: 300px;
    width: 150px;
    height: 50px;
    background-color:#8FAD88;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#fileName {
    text-align:left;
    margin-top: 90px;
    margin-left: 50px;
    font-size: 16px;
    color: #333;
}


.index-img1 {
    position: fixed;
    top: 150px;
    right: 20px;
    height: 400px;
    width: auto; 
}

.modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 100; /* above everything with lower or none z-index */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* dark overlay */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
}

#closeModal {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

* 
{
margin:0;
padding:0;
box-sizing:border-box;
}
body {
    background-color:#F6E0CA;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2E8B57; 
    color: white;
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
    border-bottom: 4px solid #0000003f;
     box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}
.side-rectangle {
    position: fixed;
    right: 30px;
    top: 55%;
    transform: translateY(-50%);
    width: 500px;
    height: 400px;
    background:#C0D0B5;
    border-radius: 15px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid #000000;
    z-index: 100;
}
.side-rectangle img {
    width: 495px;       
    height: 395px;       
    object-fit: cover;   /* keeps image centered and nicely cropped */
    border-radius: 15px; 
}

.recipe {
    font-size: 2.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    position: absolute; 
    left:15%; 
    bottom:75%;
    transform: translateX(-50%);
} 
