.top-bar {
    background-color: #8FAD88;
    padding: 40px 20px; /*top-bottom left-right*/
    text-align: center;
}

.top-bar h1 {
    color: white;
    margin: 0;
    font-size: 28;
    font-family: Arial, sans-serif;
}

.top-button-container {
    display: flex;
    justify-content: center;
    position: relative;
    border: none;
    padding: 15px;
}

.centre-btn:hover {
    background-color: #5b8051;
}

.left-btn:hover {
    background-color: #5b8051;
}

.centre-btn {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 50px;
    background-color:#8FAD88;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.left-btn {
    position: absolute;
    top: 50px;
    left: 400px;
    width: 150px;
    height: 50px;
    background-color:#8FAD88;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.index-img1 {
    position: fixed;
    top: 200px;
    right: 20px;
    height: 400px;
    width: auto; 
}