.top-bar {
    background-color: #8FAD88;
    padding: 50px 20px; /*top-bottom left-right*/
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar h1 {
    color: white;
    margin: 0;
    font-size: 28;
    font-family: Arial, sans-serif;
    text-align: center;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    position: absolute;
    left: 20px;
    height: 120px;
    width: auto
}

.upload-section {
    display: flex;
    justify-content: center;
    position: relative;
    border: none;
    padding: 15px;
}

.centre-btn:hover {
    background-color: #5b8051;
}

.left-btn:hover {
    background-color: #5b8051;
}

.centre-btn {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 50px;
    background-color:#8FAD88;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.left-btn {
    position: absolute;
    top: 50px;
    left: 300px;
    width: 150px;
    height: 50px;
    background-color:#8FAD88;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#fileName {
    text-align:left;
    margin-top: 90px;
    margin-left: 50px;
    font-size: 16px;
    color: #333;
}


.index-img1 {
    position: fixed;
    top: 150px;
    right: 20px;
    height: 400px;
    width: auto; 
}

.modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 100; /* above everything with lower or none z-index */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* dark overlay */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
}

#closeModal {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

