* 
{
margin:0;
padding:0;
box-sizing:border-box;
}
body {
    background-color:#F6E0CA;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2E8B57; 
    color: white;
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
    border-bottom: 4px solid #0000003f;
     box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}
.side-rectangle {
    position: fixed;
    right: 30px;
    top: 55%;
    transform: translateY(-50%);
    width: 500px;
    height: 400px;
    background:#C0D0B5;
    border-radius: 15px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid #000000;
    z-index: 100;
}
.side-rectangle img {
    width: 495px;       
    height: 395px;       
    object-fit: cover;   /* keeps image centered and nicely cropped */
    border-radius: 15px; 
}

.recipe {
    font-size: 2.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    position: absolute; 
    left:15%; 
    bottom:75%;
    transform: translateX(-50%);
} 